APP_NAME=MyApp
APP_VERSION=1.0.0
APP_DEBUG=true
UPLOAD_DIR=/uploads

SERVER_API_BASE=/api
SERVER_DOMAIN=example.com
SERVER_HTTP_ADDRESS=:8080
SERVER_CORS_WHITELIST=http://localhost,http://example.com

AUTH_ENCRYPT_KEYS=mysecretkey

POSTGRES_DRIVER=postgres
POSTGRES_URI=postgres://admin:admin@localhost:5432/loan-db
POSTGRES_ENABLED=true
